.borders{
    border-top: 1px solid  #27368A !important; 
    border-bottom: 1px solid #27368A  !important; 
  
}
.colored{
    color:#27368A;  
    font-size: 12px;
    font-weight: bold;
}

.is-active{
    color:#3BABDE;
    position: relative;
    padding-bottom: 2px;

}
.is-active::after{
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 2px; 
    border-bottom: 2px solid #3BABDE; 
    content: ""
}
.colored:hover{
    color:#27368A; 
}

.container-p{
    font-size: 22px;
    font-weight: lighter;
}
.services-call-to-action{
    border-radius: 30px;
    font-size: 20px;
    border: none;
}
.offers-divs h2{
    font-size: 44px
}

.second-offers-section{
    padding: 24px 0;
    font-size: 22px;
    font-weight: bold;
    background: rgba(39, 54, 138, 0.63)
}
table {
    border-spacing: 0;
    }

    td > div {
    float: right;
    }
@media screen and (max-width: 885px) {
    td {
        display: block;
        width: 100% !important;
    }
}
.color{
    color:#27368A; 
}
.lighter{
    font-size: 14px;
}
.fix-width{
    width: 70%;
}
.bd-bottom{
    height:1px;
    width:70%;
    margin:auto;
    background-color:rgb(180, 177, 177);
    margin-bottom: 20px;
}
.bord{
    border-bottom: 1px solid #27368A;
    margin-bottom: 20px;
}
.line-height{
    line-height: 30px;
}
.underline{
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 20px;
}
.wid4{
    width: 40%;
    margin: auto;
    margin-bottom: 50px;
}
.links a{
    color: #007bff75;
}

@media screen and (max-width: 885px) {
    .wid4{
        width: 60%;
    }
}
@media screen and (max-width: 640px) {
    .wid4{
        width: 80%;
    }
}
@media screen and (max-width: 465px) {
    .wid4{
        width: 100%;
    }
    .small-p{
        font-size: 10.5px;
    }
}